/* BEM: block__element--modifier */

:root {
  --backdrop-colour: #d4cdc3ff;
  --block-colour: rgb(194, 181, 174);
  --button-color: rgb(192, 157, 138);
  --hover-color: rgb(169, 114, 84);
  --text-colour: rgb(61, 61, 53);

  --upcoming-colour: rgb(125, 125, 106);
  --current-colour: rgb(71, 71, 59);
  --correct-colour: rgb(56, 188, 38);
  --wrong-colour: rgba(211, 30, 30, 0.34);
}

/* ---- Reset / base ---- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace, monospace;
  line-height: 1.5;
  background-color: var(--backdrop-colour);
  min-height: 100vh;
  padding: 2rem;
  padding-bottom: 0rem;

  display: flex;
  flex-direction: column;
}

/* ---- Layout ---- */
header,
main,
footer {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

/* ---- Components ---- */
/* Add component-specific styles below as the project grows */

main {
  flex: 1;
}

h1 {
  color: var(--text-colour)
}

#display {
  font-size: 1.5rem;
  padding: 0.5em 1em 0.5em 1em;

  color: var(--text-colour);
  background-color: var(--block-colour);
  border-radius: 1em;
}

#hidden-input {
  position: absolute;
  cursor: default;
  height: 1px;
  opacity: 0;
}

.text--current {
  color: var(--current-colour);
  text-decoration: underline;
}

.text--upcoming {
  color: var(--upcoming-colour);
}

.text--correct {
  color: var(--correct-colour);
}

.text--wrong {
  background-color: var(--wrong-colour);
}

.test--display {
  font-size: 1.5rem;
  padding: 0.5em 1em 0.5em 1em;

  color: var(--text-colour);
  background-color: var(--block-colour);
  border-radius: 1em;
}

#test--win {
  display: none;
  background-color: green;
}

#state--game {  /* TODO: check if this is being centered properly */
  display: flex;
  flex-direction: column;
}

#state--win {
  /* display: flex; */
  display: none;
  flex-direction: column;
  align-items: center;
}

#state--win h2 {
  font-size: 3rem;
}

#state--win h3 {
  font-size: 2rem;
}

.stats-tile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  padding: 1em;
}

.stats-tile p {
  font-size: 2rem;
  text-align: center;

  background-color: var(--block-colour);
  border-radius: 0.5em;
  padding: 0.25em;
}

#state--win button {
  font-size: 2rem;
  font-weight: bold;

  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: none;

  cursor: pointer;
}

#button--restart {
  background-color: var(--button-color);
}

#button--restart:hover {
  background-color: var(--hover-color);
}

#click-zone {
  cursor: pointer;
}